/* ==========================
   Default Dark Theme
========================== */

body{
    background:#05070d;
    color:#ffffff;
}

/* Sab sections dark rahenge */

section{
    background:#05070d;
}

/* ==========================
   Light Theme
========================== */

body.light-mode{
    background:#f5f7fb;
    color:#111;
}

body.light-mode section{
    background:#f5f7fb;
}

body.light-mode .site-header{
    background:rgba(255,255,255,.92);
    border-bottom:1px solid rgba(0,0,0,.08);
}

body.light-mode .logo-text,
body.light-mode .main-nav a{
    color:#111 !important;
}

body.light-mode .hero{
    background:#eef2f7;
}

body.light-mode .hero p{
    color:#555;
}

body.light-mode .content-card{
    background:#ffffff;
    border:1px solid #ddd;
}

body.light-mode .site-footer{
    background:#ffffff;
    color:#111;
}