/* ===================================
   Sections
=================================== */

.section{
    padding:90px 0;
}

.section-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.section-title h2{
    color:#fff;
    font-size:38px;
    margin:0;
}

.section-title a{
    color:#00e5ff;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.section-title a:hover{
    color:#fff;
}